/*---------- FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Nunito:wght@300;600;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Cores ===== */
  --body-color: #e4e9f7;
  --sidebar-color: #fff;
  --primary-color: #DC3D4B;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===== Transition ==== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
}

/* ==== portifólio style */

.sidebar .portfolio {
  height: 100%;
  width: 100%;
  display: flex;
  text-decoration: none;
  font-size: large;
  padding-top: 100px;
}

.sidebar #linkedin {
  display: flex;
  align-items: left;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}

.sidebar #linkedin:hover {
  background: var(--body-color);
}

/* ===== Sidebar ====== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-02);
  white-space: nowrap;
  opacity: 1;
  z-index: 100;
}

.sidebar.close {
  width: 90px;
}

/* ======== CSS Reutilizável ======= */

.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 40px;
  display: flex;
  align-items: left;
}

.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-02);
}

.sidebar header {
  position: relative;
}

.sidebar img {
  height: 70px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: 600;
}

.header-text .subtitle {
  margin-top: -2px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--sidebar-color);
  font-size: 22px;
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar header .toggle {
  transform: rotate(180deg);
}

.sidebar .search-box {
  background: var(--primary-color-light);
}

.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background: var(--primary-color-light);
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

.sidebar .bottom-content {
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

/* ====== Conteúdo do site ====== */

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.home {
  position: relative;
  left: 150px;
  height: 100vh;
  width: calc(100% - 250px);
  background: var(--body-color);
  transition: var(--tran-03);
  text-align: center;
}

.sidebar.close ~ .home {
  left: 70px;
  width: calc(100% - 88px);
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: var(--text-color);
}

/* =====  Botão principal ===== */

.home .principal .arquivobtn {
  font-size: 30px;
  font-weight: 500;
  color: var(--text-color);
  padding: 8px 40px;
}

.home .arquivobtn {
  height: 50px;
  width: 300px;
  border-radius: 8px;
  background-color: #eedae5;
}

.home .textbtn {
  font-size: medium;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* ==== Texto acima do botão ==== */
