/*---------- FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Nunito:wght@300;600;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Cores ===== */
  --body-color: #e4e9f7;
  --background-color: #fff;
  --primary-color: #30323d;
  --primary-color-light: #f6f5ff;
  --secondary-color: #3a4a64;
  --hover-color: #585c72;
  --text-color: #72a0d6;

  /* ===== Transition ==== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
}

::selection {
  background-color: var(--secondary-color);
}

header {
  background-color: var(--primary-color);
  height: 70px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

ul .logo {
  display: flex;
  align-items: center;
  justify-content: left;
}

li {
  margin: 0 10px;
}

.menu a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

a:hover {
  background-color: var(--hover-color);
  transition: var(--tran-05);
}

.responsivo {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.responsivo h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.responsivo p {
  font-size: 18px;
  margin-bottom: 30px;
}

.responsivo img {
  max-width: 100%;
  height: auto;
}
