/*---------- FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Nunito:wght@300;600;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  /* ===== Cores ===== */
  --body-color: #e4e9f7;
  --background-color: #30323d;
  --primary-color: #1d1e1b;
  --primary-color-light: #f6f5ff;
  --secondary-color: #494e5b;
  --hover-color: #ffd54e;
  --text-color: #fff;
  --link-color: #72a0d6;

  /* ===== Transition ==== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
}

section {
  min-height: 100vh;
  padding: 0.5rem 5% 1rem;
  color: var(--text-color);
}

::selection {
  background-color: var(--secondary-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3.5rem 9%;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: default;
}

.navbar a {
  font-size: 2rem;
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: 800;
  text-decoration: none;
  transition: var(--tran-04);
}

.navbar a:hover,
.navbar a.active {
  color: var(--hover-color);
}

#menu-icon {
  font-size: 3rem;
  color: var(--hover-color);
  display: none;
}

/* ===== INICIO ===== */

.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  padding-top: 10rem;
}

.home-content h3 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--hover-color);
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content a {
  background-color: transparent;
  color: var(--text-color);
  font-weight: 200;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--hover-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-color);
  margin: 5rem 1.5rem 7rem 0;
  transition: var(--tran-05) ease;
}

.social-media a:hover {
  background: var(--secondary-color);
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--hover-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--hover-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--hover-color);
  font-size: 2rem;
  color: #fff;
  letter-spacing: 0.8rem;
  font-weight: 700;
  transition: var(--tran-05) ease;
}

.btn:hover {
  box-shadow: none;
  background: var(--hover-color);
  color: var(--secondary-color);
  font-weight: 800;
}

.conhecimentos {
  margin-bottom: 5rem;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding-bottom: 3rem;
  margin: 3rem;
}

.heading span {
  padding-left: 2rem;
}

.conhecimentos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.conhecimentos-container .conhecimentos-box {
  flex: 1 1 30rem;
  background: var(--secondary-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--background-color);
}

.conhecimentos-box i {
  font-size: 7rem;
  color: var(--hover-color);
}

.conhecimentos-box h3 {
  font-size: 2.2rem;
}

.conhecimentos-box:hover {
  box-shadow: 0 0 1rem var(--hover-color);
}

.conhecimentos-container .conhecimentos-box2 {
  flex: 1 1 30rem;
  background: var(--secondary-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--background-color);
}

.conhecimentos-box2 i {
  font-size: 7rem;
  color: var(--hover-color);
}

.conhecimentos-box2 h3 {
  font-size: 2.2rem;
}

.conhecimentos-box2:hover {
  box-shadow: 0 0 1rem var(--hover-color);
}

.conhecimentos-container .conhecimentos-box2 {
  flex: 1 1 30rem;
  background: var(--secondary-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--background-color);
}

.conhecimentos-box2 i {
  font-size: 7rem;
  color: var(--hover-color);
}

.conhecimentos-box2 h3 {
  font-size: 2.2rem;
}

.projetos {
  margin-bottom: 5rem;
}

.projetos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.projetos-container .projetos-box {
  flex: 1 1 30rem;
  background: var(--secondary-color);
  padding: 3rem 2rem 1rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--background-color);
}

.projetos-box i {
  font-size: 4rem;
  color: var(--link-color);
  padding: 2rem;
}

.projetos-box h3 {
  font-size: 1.7rem;
}

.projetos-box:hover {
  box-shadow: 0 0 1rem var(--hover-color);
}

.sobre-mim {
  margin: 1rem;
  padding: 2rem;
}

.sobre-mim p {
  font-size: 2rem;
  font-weight: 800;
}

.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.contato-container .contato-box {
  flex: 1 1 30rem;
  background: var(--secondary-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 2rem solid var(--background-color);
}

.contato-box h3 {
  font-size: 2rem;
}

.contato-box i {
  font-size: 7rem;
  color: var(--hover-color);
  padding: 2rem;
}

.contato-box p {
  font-size: 1.2rem;
  font-weight: 800;
}

.contato-box:hover {
  box-shadow: 0 0 1rem var(--hover-color);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--secondary-color);
}

.footer-text p {
  font-size: 1.2rem;
  color: var(--hover-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--background-color);
  border-radius: 0.8rem;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--hover-color);
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--background-color);
    border-top: 0.1rem solid var(--background-color);
    box-shadow: 0 0.5rem 1rem var(--hover-color);
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
    align-items: center;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .sobre-mim {
    flex-direction: column-reverse;
  }
}

@media (max-width: 451px) {
  .home-content h3 {
    font-size: 4rem;
  }

  .home-content h1 {
    font-size: 10rem;
  }

  .home-content a {
    font-size: 3rem;
  }

  html {
    font-size: 40%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
