/*---------- FONTS ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Nunito:wght@300;600;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Cores ===== */
  --body-color: #e4e9f7;
  --background-color: #30323d;
  --primary-color: #1d1e1b;
  --primary-color-light: #f6f5ff;
  --secondary-color: #494e5b;
  --hover-color: #ffd54e;
  --text-color: #fff;
  --link-color: #72a0d6;

  /* ===== Transition ==== */

  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--background-color);
}

.wrapper {
  position: relative;
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: var(--hover-color);
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 900;
}

.input-box {
  position: relative;
  width: 320px;
  margin: 30px 0;
  border-bottom: 2px solid var(--text-color);
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: 5px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  color: var(--text-color);
  transition: var(--tran-05);
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--text-color);
  padding: 0 33px 0 5px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 57px;
}

.input-box .toggle-icon {
  position: absolute;
  right: 8px;
  color: var(--text-color);
  line-height: 20px;
  cursor: pointer;
}

.lembrar-me {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

.lembrar-me a {
  color: var(--text-color);
  text-decoration: none;
}

.lembrar-me a:hover {
  text-decoration: underline;
}

.lembrar-me label input {
  accent-color: var(--hover-color);
  margin-right: 3px;
}

button {
  width: 100%;
  height: 45px;
  background: var(--secondary-color);
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.5rem;
  color: var(--text-color);
  box-shadow: 0 0 1rem var(--hover-color);
}

button:hover {
  background-color: var(--hover-color);
  box-shadow: 0 0 1rem var(--hover-color);
  font-weight: 900;
}

.registrar-link {
  font-size: 0.9em;
  text-align: center;
  color: var(--text-color);
  margin: 8px 0 10px;
}

.registrar-link p a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 600;
}

.registrar-link a:hover {
  text-decoration: underline;
}
